@page
@model Yongbo.Pages.Users.IndexModel
@{
}
<h2>Users List</h2>
<a asp-page="/Users/create" class="btn btn-primary "> create</a>

 @* @if (Model.Listusers1 != null && Model.Listusers1.Count > 0) *@

    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Password</th>
                <th>date</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Listusers1)
            {
                <tr>
                    <td>@item.ID</td>
                    <td>@item.Fname</td>
                    <td>@item.Lname</td>
                    <td>@item.Email</td>
                    <td>@item.password</td>
                    <td>@item.Date23</td>
                </tr>
            }
        </tbody>
    </table>

